<?xml version="1.0" encoding="utf-8"?>
<HighLighting>
  <Languages Default="zh-CN">
    <Language Name="zh-CN" Url="zh-CN.lp"/>
    <Language Name="en-US" Url="en-US.lp"/>
  </Languages>
  <Namespaces>
    <System/>
  </Namespaces>
  <Keywords>
    <__uenum/>
    <__typeof/>
    <__uobjdef/>
    <__uclass/>
    <__uref/>
    <__uvalue_begin/>
    <__uvalue/>
    <__uvalue_end/>
    <__uobject/>
    <__ufield/>
    <__uproperty/>
    <__uenum_flag/>
  </Keywords>
  <Numberics>
    <int24/>
    <int24_t/>
    <uint24/>
    <uint24_t/>
    <int128/>
    <int128_t/>
    <uint128/>
    <uint128_t/>
  </Numberics>
  <Types>
    <AnyErrors/>
    <AnyDynamicPtrFlags/>
    <ModifierPolicy/>
    <bad_any_cast/>
    <Any/>
    <AnyVisitor/>
    <VariadicAny/>
    <DefaultVariadicAny/>
    <ConditionalAnyVisitor/>
    <OptionalVariadicAny/>
    <RealVariadicAny/>
    <VariadicAnyVisitor/>
    <Variant/>
    <Number/>
    <Optional/>
    <DynamicArray/>
    <EventToken/>
    <Enums/>
    <Sealed/>
    <ZeroStruct/>
    <Cloner/>
    <Converter/>
    <IFormattable/>
    <Formatter/>
    <Parser/>
    <EventArgs/>
    <IDelegate/>
    <EventHandler/>
    <MultiCastDelegate/>
    <FloatingHelper/>
    <GuidHelper/>
    <OSVersion/>
    <safe_void_ptr/>
    <OSHelper/>
    <StringHelper/>
    <EncodingHelper/>
    <Color/>
    <CornerRadius/>
    <CriticalSection/>
    <DateTimeKind/>
    <DayOfWeek/>
    <DateTimeStyles/>
    <DateTime/>
    <TimeZoneInfo/>
    <TimeSpanStyles/>
    <TimeSpan/>
    <InertiaString/>
    <ResultTypes/>
    <Result/>
    <Matrix/>
    <Version/>
    <Point/>
    <Rect/>
    <Size/>
    <Thickness/>
    <Object/>
    <NotifyCollectionChangedAction/>
    <Instance/>
    <IObservableOwner/>
    <IObjectComparer/>
    <IObservableObject/>
    <NotifyCollectionItem/>
    <NotifyCollectionChangedEventArgs/>
    <NotifyCollectionChangedEvent/>
    <ObservableCollection/>
    <CalendarAlgorithmType/>
    <CalendarWeekRule/>
    <EraInfo/>
    <Calendar/>
    <GregorianCalendar/>
    <EastAsianLunisolarCalendar/>
    <ChineseLunisolarCalendar/>
    <JapaneseCalendar/>
    <JapaneseLunisolarCalendar/>
    <TaiwanCalendar/>
    <TaiwanLunisolarCalendar/>
    <KoreanCalendar/>
    <KoreanLunisolarCalendar/>
    <HijriCalendar/>
    <ThaiBuddhistCalendar/>
    <HebrewCalendar/>
    <PersianCalendar/>
    <UmAlQuraCalendar/>
    <Encodings/>
    <StringComparison/>
    <CultureInfoPatterns/>
    <CultureInfoConstNames/>
    <CultureInfoMoneyConsts/>
    <CultureInfoBooleanFlags/>
    <CultureInfo/>
    <FileReader/>
    <FileAdvancedAccess/>
    <FileAccess/>
    <FileShare/>
    <FileCreationDisposition/>
    <FileMode/>
    <FileAttributes/>
    <SeekOrigin/>
    <FileType/>
    <FileStream/>
    <FileStreamReader/>
  </Types>
  <Reflections>
    <AssemblyEnumerator/>
    <ModuleEnumerator/>
    <BaseClassEnumerator/>
    <MethodEnumerator/>
    <MethodReverseEnumerator/>
    <MethodQueryEnumerator/>
    <OperatorEnumerator/>
    <OperatorReverseEnumerator/>
    <OperatorQueryEnumerator/>
    <PropertyEnumerator/>
    <PropertyReverseEnumerator/>
    <PropertyQueryEnumerator/>
    <ConstructorEnumerator/>
    <ConstructorReverseEnumerator/>
    <ConstructorQueryEnumerator/>
    <AttributeEnumerator/>
    <AttributeReverseEnumerator/>
    <AttributeQueryEnumerator/>
    <FieldEnumerator/>
    <FieldReverseEnumerator/>
    <FieldQueryEnumerator/>
    <EnumEnumerator/>
    <EnumReverseEnumerator/>
    <TypeEnumerator/>
    <ConstructorPredicate/>
    <MethodPredicate/>
    <PropertyPredicate/>
    <OperatorPredicate/>
    <AttributePredicate/>
    <FieldPredicate/>
    <AppDomain/>
    <AssemblyError/>
    <Assembly/>
    <ModuleError/>
    <Module/>
    <AttributePolicy/>
    <AttributeFlags/>
    <Attribute/>
    <TypeConverterAttribute/>
    <TypeHelper/>
    <TypeTag/>
    <TypeDetails/>
    <Type/>
    <STDTypes/>
    <WINTypes/>
    <TypeCollection/>
    <TypeCaches/>
    <TypeFactory/>
    <ArrayType/>
    <PtrType/>
    <ModifiedType/>
    <ConstructorType/>
    <FieldType/>
    <MemoryPtrType/>
    <MethodType/>
    <PropertyType/>
    <ResultType/>
    <RefType/>
    <MemberInfo/>
    <ClassFlags/>
    <ClassInfoError/>
    <ClassInfo/>
    <ConstructorFlags/>
    <ConstructorInfo/>
    <EnumInfoError/>
    <EnumInfo/>
    <FieldFlags/>
    <FieldPolicy/>
    <FieldKinds/>
    <FieldInfo/>
    <MethodFlags/>
    <MethodInfo/>
    <MethodKinds/>
    <OperatorInfo/>
    <OperatorType/>
    <Operators/>
    <PropertyFlags/>
    <PropertyPolicy/>
    <PropertyInfo/>
    <PropertyKinds/>
    <RefPos/>
    <FactoryError/>
    <FactoryDllError/>
    <FactoryHelper/>
    <CoreDllMain/>
    <CoreDllMainEntry/>
  </Reflections>
</HighLighting>