<?xml version="1.0" encoding="utf-8"?>
<SDK Version="1000" >
  <UCompiler Version="1.0" Url="Compiler\"/>
  <Include Url="Include\">
    <System Url="Include\System"/>
    <Audio Url="Include\System\Audio\"/>
  </Include>
  <VCBuild Url="VCBuild\"/>
  <Library Url="Lib\"/>
  <Language Url="Language\Setting.config"/>
  <HighLighting Url="HighLighting\"/>
</SDK>